/* Copyright 2010-2020 Ken Kubiak */
/* All rights reserved */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fafaf9;
  background-image: url(../graphics/grid64.svg);
  background-repeat: repeat;
  background-position: center top;
  width: 100%;
  padding: 0;
  margin: auto;
  font-family: Exo, Verdana, Geneva, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
}

.page {
  margin: auto;
  width: 576px;
  margin-top: 128px;
}



header {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  font-size: 42px;
  line-height: 64px;
}

h1,
h2 {
  display: flex;
  margin: 0;
  flex-basis: 256px;
}

.stacked {
  display: flex;
  flex-direction: column;
}

.stacked:nth-child(2n) {
  align-items: flex-end;
  align-self: flex-end;
}

h1 > .stacked, h2 > .stacked {
  width: 128px;
}

b {
  opacity: 0.1;
}

ol {
  margin-top: 64px;
  font-size: 24px;
  line-height: 32px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

li {
  padding: 0;
  width: 128px;
  flex-grow: 1;
}

li:nth-child(2n + 1) {
  text-align: left;
}

li:nth-child(2n) {
  text-align: right;
}

li:nth-child(3) {
  margin-left: 64px;
}

.line {
  display: inline-block;
}

a {
  font-size: 100%;
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  transition-duration: 300ms;
}

a:hover {
  color: #888;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a.nohover:hover {
  color: inherit;
  background-color: inherit;
}


@media print, screen and (max-width: 639px) {
  .page {
    width: 320px;
    margin-top: 96px;
  }

  header {
    font-size: 21px;
    line-height: 32px;
  }

  h1,
  h2 {
    flex-basis: 128px;
  }

  h1 > .stacked, h2 > .stacked {
    width: 64px;
  }

  ol {
    flex-wrap: wrap;
    margin-top: 0;
  }

  li:nth-child(3) {
    margin-left: 0;
  }

  li {
    margin-top: 64px;
  }
}
