/* Copyright 2010-2020 Ken Kubiak */
/* All rights reserved */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --type-body: Inter, Helvetica, Arial, sans-serif;
  --type-display: "Zilla Slab", Georgia, serif;
  --type-code: "Anonymous Pro", "Courier New", Courier, monospace;

  background-color: #fcfcfc;
}

.page {
  display: grid;
  width: 60rem;
  margin: 2rem auto;
  grid-template-columns: [aside] 1fr [body] 1fr 1fr [end];
  align-items: baseline;
  gap: 1.5rem 3rem;
  font-family: var(--type-body);
  line-height: 1.5;
  color: #333;
}

.page > * {
  margin: 0;
  padding: 0;
}

.page > section,
.page > section > .position,
.page > section > .across {
  display: contents;
}

section .meta {
  grid-column: aside / span 1;
}

section .meta {
  /* font-family: var(--type-display); */
  margin-top: 0.25em; /* align w/ text adjacent */
  position: relative;
  text-align: left;
  line-height: 1.2;
}

section .meta .date:first-child {
  position: absolute;
  top: -1.25em;
}

section h2 {
  grid-column: aside / span 1;
}

section#kek > * {
  grid-column: 2 / span 1;
  align-self: start;
}

section#kek > address {
  grid-column: 3 / span 1;
}

section address {
  text-align: right;
}

section p,
section .flow {
  grid-column: body / end;
  font-size: 0.875rem;
}

p + p {
  margin-top: 1em;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 2rem;
  color: black;
  font-family: var(--type-display);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
}

h2 {
  margin-top: 0;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 100;
  font-family: var(--type-display);
}

h3,
.title {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: normal;
  font-family: var(--type-display);
}

address,
header h3 {
  font-family: var(--type-display);
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2rem;
}

address > a {
  display: block;
}

small {
  font-size: 1rem;
  font-weight: 300;
  white-space: nowrap;
}

a {
  font-size: 100%;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: inline-block;
  white-space: nowrap;
}

li::after {
  content: "/";
  margin: 0 0.5em;
}

li:last-child::after {
  content: none;
}

@media screen {
  a:hover {
    color: #888;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  a.nohover:hover {
    color: inherit;
    background-color: inherit;
  }
}

.position {
  break-inside: avoid-page;
}

.date {
  font-family: var(--type-body);
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1;
}

.title {
  font-size: 1.25rem;
  margin-left: 1rem;
  text-indent: -1rem;
}

.location {
  font-family: var(--type-display);
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2rem;
  text-indent: -1rem;
}

.city {
  margin-left: 2rem;
  font-weight: 300;
  font-size: 0.875rem;
}

.ignore {
  display: none !important;
}
